@import '../../style/imports';

.listContainer{
  @include flexBox(row);
  margin-top: 20px;

  .listWrapper{
    @include content;
    @include flexBox(row);
    align-items: flex-start;
    gap: 20px;

    .listSearch{
      flex: 1;
      background: #febb02;
      padding: 10px;
      border-radius: 10px;
      position: sticky;
      top: 10px;

      .listTitle{
        font-size: 20px;
        color: #555;
        margin-bottom: 10px;
      }

      .lsItem{
        @include flexBox(column);
        align-items: flex-start;
        gap: 5px;
        margin-bottom: 10px;

        &>label{
          font-size: 12px;
          color: #282828;
        }

        &>input{
          height: 30px;
          border: none;
          outline: none;
          padding: 5px;
        }

        &>span{
          height: 30px;
          padding: 5px;
          background: #fff;
          @include flexBox(row);
          cursor: pointer;
          color: #555;
        }

        .lsOptions{
          width: 100%;
          padding: 10px;

          .lsOptionItem{
            @include flexBox(row);
            justify-content: space-between;
            margin-bottom: 10px;
            font-size: 12px;
            color: #555;

            .lsOptionInput{
              width: 50px;
              outline: none;
            }
          }
        }

      }

      &>button{
        padding: 10px;
        background: $color-light-blue;
        color: #fff;
        border: none;
        width: 100%;
        font-weight: 500;
        cursor: pointer;
      }
    }

    .listResult{
      flex:3;
    }
  }
}
